ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

ul {position: fixed; top: 0; width: 100%;}

@media screen and (min-width: 420px) 
{
  body {

background: purple; 

}
  h1 {
    
  font-size: small;
  }
  
  ul {
    
  font-size: small;
  }

}
  @media screen and (min-width: 796px)
  {
    body {

background: red; 

}
  h1 {
    
  font-size: small;
  }
  
  ul {
   
  font-size: small;
  }
 
    
}   
 @media screen and (min-width: 1020px)
     {
    body {

background: green; 
      max-width: 600px;

}
  h1 {
  font-size: medium;
  }
  
  ul {
  font-size: medium;
  }
    
    
} 

